*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#content{
    background-color: mix(blue, yellow, 10%); /*50% blue and 70% yellow*/
}

#element{
    color: yellow;
    background-color: black;
}