*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: $primary-color-pink;
}

$general-font: 'Allerta', sans-serif;
$headings-font: 'Vollkorn SC', serif;
$text-color: black;
$accent-color-green: rgba(194,242,208,1);
$secondary-color-yellow: rgba(253,245,201,1);
$primary-color-pink: rgba(255,197,217,1);


nav{
    position: sticky;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
       background-color: $secondary-color-yellow;

    }
}